:root{
    --main-color: #08121E;
    --secondary-color: #0D397A;
    --heading-color: #CCCCCC;
}
/* start nav */
.navbar{
    background-color: var(--main-color)
}
.navbar .logo{letter-spacing: 0.5rem;}
@media screen and (width: 320px){.navbar .logo{letter-spacing: 0;}}
.navbar ul li a{
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.navbar ul li a:hover{
    color: #fff;
}
.navbar li a:before{
    content: "";
    display: block;
    background-color: #fff;
    width: 0;
    height: 0.125rem;
    position: absolute;
    top: 80%;
    transition: 0.3s;
}
.navbar li a:hover::before{width:80%;}
.navbar .toggle-sections{
    border: none;
    color: #fff;
}
.navbar .toggle-sections:focus{
    border: 0;
    box-shadow: none !important;
}
@media screen and (max-width:769px){
    .navbar li a:hover::before{width:2rem;}
}
/* end nav */

/* start header */

header{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow:hidden;
    background-color: var(--main-color);
}
header img{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
header .container{
    z-index: 2;
    justify-content: center;
}
header .container .scroll-down{
    background-color: #fff;
    width: 2rem;
    height: 3rem;
    border-radius: 1rem;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-self: center;
    transition: 0.3s;
    position: relative;
}
header .container .scroll-down svg{
    position: absolute;
    animation: ease-in-out scroll-down infinite 1500ms;
}

/* start about */

.about{
    margin: 15rem 0;
}
.about .container .image h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    z-index: 1;
    top: -2.75rem;
    color: var(--main-color)
}
.about .container .image img{
    width: 25rem;
    height: 35rem;
    z-index: 5;
}
.about .container p{
    color: var(--main-color)
}
.about .container p:first-child:first-letter{
    text-transform: uppercase;
    font-size: 4rem;
    padding: 0 0.5rem;
    font-family: 'Times New Roman', Times, serif
}
@media screen and (max-width: 1000px){
    .about .container{flex-wrap: wrap;}
}

/* end about */

/* start education */

.education{
    background-color: var(--main-color)
}

.education .container{
    justify-content: space-between;
}

.education .container h1{
    color: var(--heading-color);
    font-size: 5rem;
    top: -6.75rem;
}

.education .container div img{
    width: 25vw;
    height: 50vh;
}

.education .container li a svg{color: #fff; transition: 0.3s}

.education .container li a:hover svg{
    transform: scale(1.5);
    color: var(--secondary-color)
}

@media screen and (max-width: 768px){
    .education .container{
        justify-content: center;
    }
    .education .container div img{
        width: 50%;
        height: 60%;
    }
}

/* end education */

/* start animation */

@keyframes scroll-down {
    from{
        top: 25%;
    }
    50%{
        top: 35%;
    }
    to{
        top:45%;
    }
}

/* end animation */