:root{
    --main-color: #08121E;
    --secondary-color: #0D397A;
    --heading-color: #CCCCCC;
}
html{
    scroll-behavior: smooth;
}

.slide-top {
	animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

::-webkit-scrollbar{
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary-color);
}

/* start nav */
.navbar{
    background-color: var(--main-color)
}
.navbar .logo{letter-spacing: 0.25rem;}
@media screen and (min-width: 320px) and (max-width: 376px){.navbar .logo{letter-spacing: 0;}}
.navbar ul li a{
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.navbar ul li a:hover{
    color: #fff;
}
.navbar li a:before{
    content: "";
    display: block;
    background-color: #fff;
    width: 0;
    height: 0.125rem;
    position: absolute;
    top: 80%;
    transition: 0.3s;
}
.navbar li a:hover::before{width:80%;}
.navbar .toggle-sections{
    border: none;
    color: #fff;
}
.navbar .toggle-sections:focus{
    border: 0;
    box-shadow: none !important;
}
@media screen and (max-width:769px){
    .navbar li a:hover::before{width:2rem;}
}
/* end nav */

/* start header */

header{
    width: 100%;
    position: relative;
    overflow:hidden;
    background-color: var(--main-color);
}
header img{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
header .container{
    z-index: 2;
    justify-content: center;
}
header .container .scroll-down{
    background-color: #fff;
    width: 2rem;
    height: 3rem;
    border-radius: 1rem;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-self: center;
    transition: 0.3s;
    position: relative;
}
header .container .scroll-down svg{
    position: absolute;
    animation: ease-in-out scroll-down infinite 1500ms;
}

@media screen and (min-width: 1460px) and (max-width: 2570px){
    header{height: 92vh ;}
}

@media screen and (min-width: 1100px) and (max-width: 1450px){
    header{height: 94vh ;}
}

@media screen and (min-width:1023px) and (max-width:1090px){
    header{height: 92vh ;}
}

@media screen and (min-width: 780px) and (max-width: 1020px){
    header{height: 38rem ;}
}

@media screen and (min-width: 758px) and (max-width: 778px){
    header{height: 35rem ;}
}

@media screen and (min-width: 620px) and (max-width: 725px){
    header{height: 34rem ;}
}

@media screen and (min-width: 510px) and (max-width: 610px){
    header{height: 26rem ;}
}

@media screen and (min-width: 440px) and (max-width: 500px){
    header{height: 20rem ;}
}

@media screen and (min-width: 400px) and (max-width: 435px){
    header{height: 20rem ;}
}

@media screen and (min-width: 365px) and (max-width: 395px){
    header{height: 17rem ;}
}

@media screen and (min-width: 310px) and (max-width: 361px){
    header{height: 14rem ;}
}
/* end header  */
/* start about */
.about{margin: 5rem 0; opacity: 0;}
.about .container .image h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 1.25rem;
    z-index: 1;
    top: -2.75rem;
    color: var(--main-color)
}
.about .container .image img{
    width: 25rem;
    height: 35rem;
    z-index: 5;
}
.about .container p{
    color: var(--main-color)
}
.about .container p:first-child:first-letter{
    text-transform: uppercase;
    font-size: 4rem;
    padding: 0 0.5rem;
    font-family: 'Times New Roman', Times, serif
}
@media screen and (max-width: 1000px){
    .about .container{flex-wrap: wrap;}
}

/* end about */

/* start education */

.education{
    background-color: var(--main-color);
    opacity: 0;
}

.education .container{
    justify-content: space-between;
}

.education .container h1{
    color: var(--heading-color);
    font-size: 4rem;
    top: -6.75rem;
}

.education .container div img{
    width: 25vw;
}

.education .container li a svg{color: #fff; transition: 0.3s}

.education .container li a:hover svg{
    transform: scale(1.5);
    color: var(--secondary-color)
}

@media screen and (max-width: 768px){
    .education .container{
        justify-content: center;
    }
    .education .container div img{
        width: 50%;
        height: 60%;
    }
}

/* end education */

/* start resume */

.resume{opacity: 0;}

.resume .container h1{
    font-size: 5rem;
    color: var(--heading-color);
}
.resume .container a{
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 10rem;
    transition: 0.3s;
}
.resume .container a:hover{
    background-color: var(--main-color);
    color: #fff;
}

/* end resume */

/* start footer  */
footer{
    opacity: 0;
    background-color: var(--main-color);
}
footer span svg{color:rgb(242, 18, 63)}
/* end footer  */

/* start animation */

@keyframes scroll-down {
    from{
        top: 25%;
    }
    50%{
        top: 35%;
    }
    to{
        top:45%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-4 19:19:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  

/* end animation */